<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bless The Web</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="clearfix">
    <div class="page">
        <h1 class="masthead"><a href="/">Bless The Web</a></h1>
        <div id="wrapper">
            <ul id="nav">
                <li><a href="/">Home</a></li>
                <li>@Html.ActionLink("Indulgences","List", "Indulgence")</li>
                <li>@Html.ActionLink("Sins","List", "Sins")</li>
            </ul>
            @RenderBody()
            <div id="footer">
            </div>
            <div class="push"></div>
        </div>
        <div id="footer-image"><div id="god"></div></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
